.common-input {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px; 
    border-radius: 1.25rem; 
    width: 100%;
    font-size: 0.875rem; 
}

.common-input:focus {
    border-color: #3B82F6; 
    outline: none;
}

.common-button {
    background-color: black;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 1.25rem; 
    padding: 8px; 
}

.common-button:hover {
    background-color: #333;
}

.text-blue-500 {
    color: #3B82F6;
}

.text-blue-500:hover {
    text-decoration: underline;
}
